// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #ffffff;
  cursor: default;
  background-color: #ccccff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.artistlist a span {
  padding-left: 9px;
}
.nav-tabs a span {
  word-wrap: break-word;
  word-break: break-all;
}
.nav-tabs .icon-list {
  float: left;
  opacity: 0.25;
  margin-top: 5px;
}
#trackDetailModal {
  width: 640px;
  margin-left: -320px;
}
#trackDetailModal.fade.in {
  top : 5%;
}

#trackDetailModal .modal-body {
  padding: 0px;
  max-height: 500px;
}
#trackDetailModal .item {
  text-align: center;
}
#trackDetailModal .alert {
  width: 358px;
  height: 118px;
  margin: 0px 120px 155px 120px;
  padding: 20px;
}
.player {
  width: 560px;
  height: 315px;
  background: #000;
}
.playerholder {
  margin-left: 40px;
  width: 560px;
  height: 315px;
}

.carousel-control {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 20px;
  height: 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
  padding-top: 140px;
  padding-bottom: 160px;
}

.carousel-control:link,
.carousel-control:visited,
.carousel-control:hover,
.carousel-control:active
{
  color: #aaa;
}

.carousel-control.left {
  left: 0px;
}
.carousel-control.right {
  right: 0px;
}
.carousel-control:hover, .carousel-control:focus {
  opacity: 0.3;
}
ul#thumbs {
  margin: 0px 0px 0px 0px;
}
ul#thumbs li {
  display: inline;
  margin: 0px 2px 0px 0px;
}
