// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #ffffff;
  cursor: default;
  background-color: #ccccff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.artistlist a span {
  padding-left: 9px;
}
.nav-tabs a span {
  word-wrap: break-word;
  word-break: break-all;
}
.nav-tabs .icon-list {
  float: left;
  opacity: 0.25;
  margin-top: 5px;
}
#trackDetailModal {
  width: 700px;
  margin-left: -350px;
}
#trackDetailModal.fade.in {
  top : 5%;
}

#trackDetailModal .modal-body {
  max-height: 500px;
}
.carousel-control {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

