<!DOCTYPE html>
<html>
<head>
  <title>ItunesLib</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <h1>Share Your iTunes Library</h1>
    <p>easy to share, easy to browse, easy to find youtube.</p>
  </div>
</div>
<header style="padding-top: 100px;">

</header>
<div id="contents" >
<%= yield %>
</div>
</body>
</html>
